$theme-colors:(
   "yellow": yellow,
   "lightyellow": lightyellow,
   "darkyellow": #FCC535,
   "indianred": indianred,
   "pink": pink,
   "red": red,
   "lightblue":#404CB9,
    "blue": blue,
    "darkblue": #252A65,
    "lightpurple":#894C97,
   "purple": purple,
   "darkpurple":#52305B

    
);
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px; 